**

!apps/

!apps/api/
!apps/api/go.mod
!apps/api/cmd/
!apps/api/cmd/**
!apps/api/internal/
!apps/api/internal/**

!apps/spa-dev/
!apps/spa-dev/package.json
!apps/spa-dev/package-lock.json
!apps/spa-dev/index.html
!apps/spa-dev/eslint.config.js
!apps/spa-dev/postcss.config.js
!apps/spa-dev/quasar.config.ts
!apps/spa-dev/tsconfig.json
!apps/spa-dev/public/
!apps/spa-dev/public/**
!apps/spa-dev/src/
!apps/spa-dev/src/**

!apps/manager/
!apps/manager/composer.json
!apps/manager/composer.lock
!apps/manager/importmap.php
!apps/manager/assets/
!apps/manager/assets/**
!apps/manager/bin/
!apps/manager/bin/**
!apps/manager/config/
!apps/manager/config/**
!apps/manager/public/
!apps/manager/public/**
!apps/manager/src/
!apps/manager/src/**
!apps/manager/templates/
!apps/manager/templates/**

!deploy/
!deploy/docker/
!deploy/docker/**
